* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #EBAA0C;
    --secondary: #455A64;
}

.container-form {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-aplicacao {
    width: 80%;
    height: 80px;
    background-color: var(--primary);
    color: #fff;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.container-aplicacao h2 {
    text-align: center;
    position: relative;
    top: 20px;
}

.title {
    text-align: center;
    color: var(--primary);
    margin-top: 5rem;
}

.margin-top-menor {
    margin-top: 3rem;
}

h4 {
    font-size: 20;
    color: var(--secondary);
}


/*Form */

form {
    margin-top: 2rem;
}

form .count {
    background-color: var(--primary);
    color: #fff;
    border: none;
}

form .count-line p {
    margin-top: 0;
    margin-bottom: 0;
}

.count-line {
    color: #fff;
    width: 20px;
    padding-left: 10px;
    height: 240px;
    background-color: var(--primary);
}

.container-select {
    width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.container-select label {
    font-size: 25;
    color: var(--primary);
}

form .programa {
    border: none;
    background-color: rgb(250, 244, 244);
    border-radius: 0 15px 0 0;
}

form textarea {
    padding-left: 15px;
}

form textarea:focus {
    outline: none;
}

form button {
    margin-top: 1.5rem;
    margin-left: 0rem;
    padding: 7px 22px;
    font-size: 20;
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    color: #fff;
}

form button:hover {
    background-color: #cc9508;
    transition: 0.6s;
}


/* Mobile */

@media screen and (max-width:676px) {
    form {
        width: 100%;
    }
}